@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	background-color: #0a0a0a;
	width: 19px;
	height: 19px;
}
::-webkit-scrollbar-thumb {
	border: solid 9px #0a0a0a;
	background-color: #bd4f54;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2 {
	text-shadow: -1px 0 black, 0 0px black, 5px 0 black, 0 5px black;
}
