@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.polygon-clip {
		-webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
		clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
	}

	.slash-clip {
		-webkit-clip-path: polygon(20% -15%, 100% 0, 100% 115%, 0 115%, 0 60%);
		clip-path: polygon(20% -15%, 100% 0, 100% 115%, 0 115%, 0 60%);
	}

	.parallelogram-clip {
		-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	}

	.bottom-clip {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 60%);
		clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 60%);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	background-color: #0a0a0a;
	width: 19px;
	height: 19px;
}
::-webkit-scrollbar-thumb {
	border: solid 9px #0a0a0a;
	background-color: #bd4f54;
}

.white-scrollbar::-webkit-scrollbar {
	width: 12px;
}

/* Track */
.white-scrollbar::-webkit-scrollbar-track {
	background: #0a0a0a;
}

/* Handle */
.white-scrollbar::-webkit-scrollbar-thumb {
	border: none;
	background: #fff;
}

.date-day {
	clip-path: polygon(19% 0%, 100% 0, 100% 100%, 0 100%, 0% 50%);
}

.shadow {
	box-shadow: 0px -1em 1em red, 0px 8px 5px rgb(30, 30, 30);
}
